@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;
  --text: #a6a6a6;
  --element: #242424;
  --title: #ccc;
  --accentViolet: #8280ff;
  --hoverViolet: #9b99ff;
  --accentRed: 175 99 99;
  --hoverRed: #c15151;
  --accentGreen: #279474;
  --hoverGreen: #33c399;
  --accentOrange: #f5ab56;
  --hoverOrange: #f28f1e;
  --accentBlue: #277e94;
  --hoverBlue: #2f98b3;

  --syntaxGreen: #1a8f66;
  --syntaxPurple: #be65cd;
  --syntaxBlue: #0075d2;
  --syntaxOrange: #d78100;
  --syntaxRed: #e72525;
  --syntaxText: #333333;
  --syntaxComment: #7f7f7f;

  --toastify-color-info: var(--element) !important;
  --toastify-color-success: var(--accentGreen) !important;
  --toastify-color-error: var(--accentRed) !important;
  --toastify-color-warning: var(--accentOrange) !important;
  --toastify-text-color-light: var(--element) !important;

  .Toastify__progress-bar {
    opacity: 1;
  }

  .Toastify__close-button--light {
    opacity: 0.5;
  }
}

body {
  background: var(--background);

  * {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
  }

  pre {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--title);
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
  }

  p,
  label {
    color: var(--text);
    font-size: 15px;
  }

  p {
    margin-bottom: 4px;
  }

  a {
    color: var(--accentViolet);

    &:hover {
      color: var(--hoverViolet);
    }
  }

  textarea {
    color: black;
  }

  ol,
  ul {
    color: var(--text);
    padding-left: 20px;
    margin-bottom: 4px;

    li {
      list-style: disc;
    }
  }

  /* code syntax highlighting */
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: var(--syntaxComment);
  }

  .token.operator {
    color: var(--syntaxRed);
  }

  .token.boolean,
  .token.number {
    color: var(--syntaxOrange);
  }

  .token.string,
  .token.attr-name,
  .token.entity,
  .token.url {
    color: var(--syntaxGreen);
  }

  .token.string,
  .token.escaped {
    color: var(--syntaxOrange);
  }

  .token.number,
  .token.string {
    .valuetype {
      color: var(--syntaxBlue);
    }
  }

  .token.keyword,
  .token.important,
  .token.statement {
    color: var(--syntaxPurple);
  }

  .token.function,
  .token.variable,
  .token.builtin {
    color: var(--syntaxBlue);
  }

  .token.faded {
    opacity: 0.7;
    font-weight: 700;
  }
}
